body{

background-size: cover;
display: flex;
justify-content: space-between;
}

#body1{
    background: url(./img2/regbcg.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    
    }
#body2{
        background: url(./img2/model_3.jpg) no-repeat center center fixed;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        }
        
#body3{
        background: url(./img2/asian.jpg) no-repeat center center fixed;
        background-size: cover;
        
        }

 #body4{
            background: url(./img2/alex-morgan-14097233018ng4k.jpg) no-repeat center center fixed;
            background-size: cover;
            display: flex;
            justify-content:  space-between;}


#home{
    
   width: 44%;
   justify-content: center;
  margin-right: 1000;
}
#home1
{
    display: flex;
    width: 60%;
    justify-content: center;
}
p{
    display: block;
    padding: 15px 30px 15px 40px;
    font-size: 20px;
    color: #d3dacd;
    text-decoration: none;
    text-transform:uppercase;
 }
 
 h1{
    display: block;
    padding: 15px 30px 15px 40px;
    font-size: 40px;
    color: #d3dacd;
    text-decoration: none;
    text-transform:uppercase;
 
 }
#rules{
    display: flex;
    justify-content: space-around;
}

.dws-menu {
    width: 30%;
    margin: 0;
    padding: 0;
    justify-content: left;
    display: flex;
    justify-content: flex-start;
    font-family: Cuprum, Arial, Helvetica, sans-serif;
   }  

.dws-menu ul,  
.dws-menu ol{
 list-style: none;
}    

.dws-menu > ul{
    display: flex;
    justify-content: center;
   }    

   
   .dws-menu > ul li a{
    display: block;
    padding: 15px 30px 15px 40px;
    font-size: 50px;
    color: #d3dacd;
    text-decoration: none;
    text-transform:uppercase;
   }    


   th, tr{
   
    padding: 1px 3px 1px 4px;
    font-size: 20px;
    color: #d3dacd;
    text-decoration: none;
    text-transform:uppercase;
   }


   .dws-menu > ul li{
    position: relative;
   }   

   .dws-menu > ul li > a i.fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 70px;
   }   

   .dws-menu > ul {
    border-left: 7px solid #576633;
   }
   
   .dws-menu > ul li{
    position: relative;
    
   }   

   .dws-menu li a:hov{
    transition: all 0.7s ease;
   }    

   .dws-menu > ul li a{
    display: block;
    padding: 15px 30px 15px 40px;
    font-size: 50px;
    font-weight: 600;
    text-decoration: none;
    text-transform:uppercase;
    transition: all 0.7s ease;
   }    

   /*sub menu*/
.dws-menu li ul{
    position: absolute;
    min-width: 250px;
   }    

   

   .dws-menu li > ul li a{
    padding: 10px;
    text-transform: none;
   
   }    

   .dws-menu li > ul li ul{
    position: absolute;
    top: 0;
   }    

   .dws-menu li ul{
    position: absolute;
    min-width: 350px;
    display: none;
   }    

   .dws-menu li:hover > ul{
    display: block;
   }    
